
<h5 class="card-title">Lista dos Presentes</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Categoria</th>
      <th scope="col">Produto</th>
      <th scope="col">Preco</th>
      <th scope="col">Quantidade</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let p of listaFiltrada">
      <td>{{p.categoria}}</td>
      <td>{{p.nomeProduto}}</td>
      <td>{{p.precoBase}}</td>
      <td>{{p.quantidade}}</td>
      <td><button type="button" class="btn btn-default" (click)="edit(p, p.key)">Editar</button></td>
      <td><button type="button" class="btn btn-danger ml-2" (click)="delete(p.key)">Excluir</button></td>
    </tr>
  </tbody>
</table>
