<html>
  <head>
  
  </head>
<body  onLoad="document.frmEnviaDados.txtnome.focus();" >

    <div class="">
      <div ng-show = "naoPodeEntrar" style="font-size: 15px;" class="alert {{cssMenssagem}}" role="alert">
        {{mensagem}}
      </div>
      <div class="login-form">
      <div class="main-div">
          <div class="panel">
            <h2>Login Administrador</h2>
            <p> Por favor Insira seu Email e Senha </p>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="login.email" id="email" placeholder="Email"/>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="login.senha" name="senha"  placeholder="Senha"/>
          </div>
          <div class="forgot">
          <a href="reset.html">Forgot password?</a>
          </div>
          <button type="submit" class="btn btn-primary"  (click)= "verificaLogin()">Login</button>
      </div>
      <p class="botto-text"> Designed by Sunil Rajput</p>
      </div>
    </div>
</body>
</html>
