body{background:#f9f9f9;}
#wrapper{padding:90px 15px;}
.navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
.card{margin-bottom: 15px; border-radius:0; box-shadow: 0 3px 5px rgba(0,0,0,.1); }
.header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1)}
.leftmenutrigger{display: none}
@media(min-width:992px) {
.leftmenutrigger{display: block;display: block;margin: 7px 20px 4px 0;cursor: pointer;}
#wrapper{padding: 90px 15px 15px 15px; }
.navbar-nav.side-nav.open {left:0;}
.navbar-nav.side-nav{background: #585f66;box-shadow: 2px 1px 2px rgba(0,0,0,.1);position:fixed;top:56px;flex-direction: column!important;left:-220px;width:200px;overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}
}
.animate{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}





/* ------------- */


/*author:starttemplate*/
/*reference site : starttemplate.com*/
body {
    background-image:url('img/fundo_casamento.jpg');
    background-position:center;
    background-size:cover;
    
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
    font-family: 'Dancing Script', cursive!important;
  }
  
  .container {
      padding: 110px;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #ffffff!important;
      opacity: 1; /* Firefox */
      font-size:18px!important;
  }
  .form-login {
      background-color: rgba(0,0,0,0.55);
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 15px;
      border-color:#d2d2d2;
      border-width: 5px;
      color:white;
      box-shadow:0 1px 0 #cfcfcf;
  }
  .form-control{
      background:transparent!important;
      color:white!important;
      font-size: 18px!important;
  }
  h1{
      color:white!important;
  }
  h4 { 
   border:0 solid #fff; 
   border-bottom-width:1px;
   padding-bottom:10px;
   text-align: center;
  }
  
  .form-control {
      border-radius: 10px;
  }
  .text-white{
      color: white!important;
  }
  .wrapper {
      text-align: center;
  }
  .footer p{
      font-size: 18px;
  }